.App {
  background-color: #282c34;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: calc(100vh - 56px);
}

.App-name {
  color: #61dafb;
}

.customerList__tbody tr td{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.customerList__tbody tr td:hover {
  background-color: rgba(0,0,0,0.1);
}

.table__wrapper {
  overflow: auto;
}

.list__item {
  display: block;
  text-align: center;
  min-height: 24px;
}
